body{
    background-image:url(./photos/Frost.jpg) ;
}
h2{
  color: #ffffff;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -9px;
}
.b {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b:hover {
    box-shadow: 0 0 5px #1e9b1e, 0 0 25px #1e9b1e, 0 0 50px #1e9b1e, 0 0 100px #1e9b1e;
  }
  .b1 {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b1:hover {
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
  }
  .b2 {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 15px #fff;
  }
  
  .b2:hover {
    box-shadow: 0 0 5px yellow, 0 0 25px yellow, 0 0 50px yellow, 0 0 100px yellow;
  }
  .b{
    margin-right: 50px;
  }
  .b1{
    margin-right: 50px;
  }

.chrono{
    color: #ffffff;
    font-size: 173px;
}
.timer{
    padding-left: 650px;
    padding-top: 100px;
}
.bu{
    padding-left: 715px;
    padding-top: 141px;
}

.arrow-up {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 17px 33px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 17px #fff;
    background: transparent;
    border: transparent;
  }
  
  .arrow-up:hover {
    box-shadow: 0 0 5px rgb(194, 20, 151), 0 0 25px rgb(194, 20, 151), 0 0 50px rgb(194, 20, 151), 0 0 100px rgb(194, 20, 151);
  }

  .arrow-down {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 17px 33px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 17px #fff;
    background: transparent;
    border: transparent;
  }
  
  .arrow-down:hover {
    box-shadow: 0 0 5px rgb(209, 84, 0), 0 0 25px rgb(209, 84, 0), 0 0 50px rgb(209, 84, 0), 0 0 100px rgb(209, 84, 0);
  }
  .arrows{
    margin-top: -156px;
    margin-left: 660px;
  }
  .arrows-one{
    margin-top: -160px;
  }
  .arrows-two{
    margin-left: 225px;
    margin-top: -62px;
  }
  .arrows-three{
    margin-left: 452px;
    margin-top: -62px;
  }
